/* Repaso de css */
ol li {color: green;}
ol > li {color: purple;}
li {color: yellow;}
li.myclass {color: red;}
li.myclass ~ li {color: blue; font-weight: bold}
li.myclass + li {color: orange;}

input:valid { border: 1px solid green;}
input:invalid { border: 1px solid red;}
input[aria-required="true"] {border-width: 5px;}
input:optional {border-width: 10px;}
input:out-of-range { background-color: pink;}
input:in-range { background-color:lightgreen;}

/*****CHECKBOX*******/
input[type=checkbox]:checked + label {color: red;}

::selection{
    background-color: peru;
    color: aqua;
} /******selections styles the selection action in the page*******/

p:first-of-type::first-letter {
	position: relative;
	top: 8px;
	float: left;
	font-size: 3em;
	line-height: 1;
	color: #C7573A;
	padding: 0 4px 2px 0;
	font-weight: bold;	
}

.generateCont::before{
    content: 'Las bananas';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.generateCont::after{
    -webkit-transform: rotate(180deg);
    content: 'amarillas';
    font-weight: bold;
}

#showlinkafterlink a:after {
    content: "  - <" attr(href) ">";
    font-style: italic; color: #ff0000;
}

cite.footnote {counter-increment: citations;}

cite.footnote:after {content: counter(citations); vertical-align:text-top;}

/************ Genetrated Triangle *******************/
.triangle::before{
    width: 0; height: 0; position: absolute; border: 20px solid transparent; border-left-color: red;
    border-width: 10px 50px;
    content: '';
}

p.thought {display: inline-block; font-size: 2em;padding: 0 20px 20px; background-color: #ccc; border-radius: 15px;}
.thought,.thought:before,
.thought:after  {
  border-radius: 50%;
  border: 5px solid blue;
  background-color: white;
  position:relative;
}
.thought:before,
.thought:after {
  content: '';
  position:absolute;
  left: 20%; bottom: -30px;
  height: 40px; width: 40px;
}
.thought:after {
  left: 12%; bottom: -50px;
  height: 20px; width: 20px;
}

#infinity {
    position: relative;
    width: 212px;
    height: 100px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid red;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
